.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*                                                                shared styles                        */
.display-flex {
    display: flex;
}

.bg-color {
    background-color: #1A0B2E;
}

.text-primary {
    color: white;
}


.gradient-text {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-graident {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
}

.btn-primary {
    color: white;
    padding: 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-primary , .btn-secondary{
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.btn-secondary {
    color: #00FF88;
    padding: 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-secondary:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}
.section-title {
    font-size: 3rem;
    font-weight: bold;


}

h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;

}
.time{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #00FF88;
}

/*                                                                      navbar related styles                */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 32px;
    color: white;
    font-weight: 500;
    line-height: 120%;
    opacity: 0.9;


}

.navbar {
    padding: 0 200px;
}



/*                                                         banner section  */
#banner {
    background-image: url("../assets/hero-bg.png");
    height: 760px;
    background-size: cover;
    background-position: center;
}

.image-box {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.img-circle {
    /* text-align: center; */
    position: absolute;
    width: 100%;
    bottom: -25%;



}

.img-mic {
    position: absolute;
    bottom: -5%;
    left: 33%;
    width: 200px;
    height: 200px;

}

.badge {
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    padding: 6px 13px;
    background-color: #00FF88;
    border-radius: 1000px;
    z-index: 1;
    right: 7%;
    top: 30%;

}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    gap: 8px;
}

.banner-title {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 100px;
}

.banner-description {
    font-size: 1rem;
    opacity: 0.8;
    line-height: 25px;
}

.banner-button {
    display: flex;
    gap: 8px;
}

/*                                                                            about section  */
.about-title {
    margin-top: 0;
    margin-bottom: 1.2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.about {
    text-align: center;
}

hr {
    opacity: 0.1;

}

/*                                                                         dashboard section  */
.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-bottom: 6.5rem;
}

.dash {
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
    text-align: center;
}

.number {
    font-size: 2.8rem;
    font-weight: 900;
    line-height: auto;
    color: #00FF88;
    margin-bottom: 0;
}

.what {
    color: white;
    opacity: 0.7;
    font-size: 1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}

/*                                                                      why choose secton   */
#why-choose {
    background-color: #230E3D;
    padding: 7.5rem 12.5rem;
}

.card-container {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.tall-layout {
    grid-row: span 2;
}

.big-layout {
    grid-column: span 2;
}

.small-layout {
    grid-column: span 1;
    grid-row: span 1;
}

.card {
    height: auto;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 2.5rem 2.5rem;



}

/*                                                                           episode section  */
.video-area {
    width: 380px;
    height: 214px;
    position: relative;
    background-position: cover;
    border-radius: 35px 35px 0 0;

}

.thumbnail-1 {
    background-image: url("../assets/video1.jpg");

}

.thumbnail-2 {
    background-image: url("../assets/video2.jpg");
}

.thumbnail-3 {
    background-image: url("../assets/video3.jpg");
}

.play-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 40%;
    z-index: 1;
    top: 40%;
}

.video-container {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
}

#featured,
#meet-the-host {
    padding: 7.5rem 12.5rem;
}

.video-box {
    background-color: #230E3D;
    border-radius: 35px;
    width: 380px;
    height: auto;



}

.video-idea {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 1.5rem;
}

/*                                                                                     host section  */
.follow-list {
    list-style: none;
    display: flex;
    gap: 8px;
}

.follow {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1000px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-container {
    display: flex;
    gap: 24px;
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.host ul {
    padding-left: 0;
    margin-left: 0;
}

/*                                                                        footer section  */
footer {
    background-image: url("../assets/footer-bg.png");
    height: 412px;
    background-size: cover;
    background-position: center;
    position: relative;

}

footer ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin-left: 0;
}

.footer-title {
    font-size: 3rem;
    font-weight: bolder;
}

.footer-li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

footer p {
    opacity: 0.6;
}

.footer-container {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}
                                                       /* media screen 576 px  */
@media screen and (max-width:576px) {
    .nav-button {
        display: none;
    }

    .navbar {
        padding: 0 20px;
    }

    .banner-content {
        flex-wrap: wrap;
        padding: 0px 20px;
    }

    #about-section p {
        padding: 0px 20px;
    }

    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }

    #why-choose ,#featured, #meet-the-host {
        padding: 40px 20px;
    }

    .card-container {
        grid-template-columns:  1fr;
        
    }

    .grid-item {
        width: 100%;
    }
    .section-title {
        font-size: 2rem;
    }
    .video-container {
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }
    .host-container {
        flex-direction: column;
    }
    footer ul {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        justify-content: center;
        justify-items: center;
    }


}